{% extends 'component/testbase.html' %}

{% block content %}

<div class="container-fluid p-4" style="padding-bottom: 10%;">
    <div class="row">
      <div class="card shadow text-center">
        <div class="card-body">
            <div class="score p-4">
                <h1>Your Quiz Score</h1>
                <iframe src="https://giphy.com/embed/aLLZP2AiOCsPLYgi7G" width="100" height="100" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>       
                <div class="score-details font-18">
                  <p style="font-size: 65px;">{{score}}</p>
                  <p class="score-item">Total Pertanyaan : <span class="score-value">{{ total }}</span></p>
                  <p class="score-item"><span class="score-value" style="color: green;">Jawaban Benar : {{ correct_count }}  | </span><span class="score-value" style="color: red;">Jawaban Salah : {{ wrong_count }}</span></p>
                  <a href="{{url_for('hasil')}}" class="btn-lg btn-success text-white">Kembali</a>
                </div>
            </div>     
        </div>
      </div>
    </div>
  

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .custom-control-label::before {
            border: 1px solid #007bff;
            border-radius: 50%;
            width: 1.3em;
            height: 1.3em;
            content: 'A';
            display: inline-block;
            text-align: center;
            line-height: 1.2;
            margin-right: 0.5em;
        }
    </style>


  
{% endblock %}