{% extends 'component/base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row">
      
            <div class="row">
                <div class="card">
                    <div class="card-body">
                       <h1>{{dataGuru.mapel}}</h1>
                       <p>{{dataGuru.nama}}</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="card">
                    <div class="table-responsive pt-4 pb-4">
                        <table id="zero_config" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Materi</th>
                                    <th>Tanggal</th>
                                    <th>Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for list in data %}
                                <tr>
                                    <td>{{list.materi|safe}}</td>
                                    <td>{{list.date}}</td>
                                    <td>{{list.materi_slug}}</td>
                                    <td>
                                        <a href="/view/{{list.id_materi}}"  class="btn btn-primary btn-sm">Lihat Materi</a>
                                    </td>
                                </tr> 
                                {% endfor %} 
                            </tbody>           
                        </table>
                    </div>
                </div>
            </div>
    </div>
</div>


{% endblock %}
